<h2 class="text-center m-3  ">Welcome {{registername}}</h2>

<div class="container p-5 ">
    <div class="row">
        <div class="col-md-6">
            <img src="assets\images\profile.avif">
        </div>
        <div class="col-md-6">
            <div class="card mt-5" >
                <div class="card-body">
                  <h2 class="card-title text-center p-4 header"> <span>Name: </span>{{registername}}</h2>
                  <h4 class="card-subtitle mb-2 p-3 text-body-secondary text-center">Age : <span>{{registerage}}</span></h4>
                  <h3 class="card-text text-center h3-3">{{registeremail}}</h3>
                  <p class="text-center text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, praesentium!</p>
                </div>
              </div>
        </div>
    </div>
</div>